<?xml version="1.0"?>
<robot name="barracuda" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="debug" default="0"/>
    <xacro:arg name="namespace" default="barracuda"/>

    <!-- "Dummy" base link to eliminate root link inertia warning -->
    <link name="$(arg namespace)/base_link"/>

    <link name="$(arg namespace)/barracuda_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="4762.7"/>
            <inertia
                ixx="7116.41" ixy="0.0" ixz="0.0"
                iyy="6637.07" iyz="0.0"
                izz="3134.17"/>
        </inertial>

        <visual>
            <origin xyz="0 0 0" rpy="0 0 1.5708"/>
            <geometry>
                <mesh filename="file://$(find barracuda_description)/meshes/mantaray_base_link.stl" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 1.5708"/>
            <geometry>
                <mesh filename="file://$(find barracuda_description)/meshes/mantaray_base_link.stl" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

    <joint name="$(arg namespace)/barracuda_base_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="$(arg namespace)/base_link"/>
        <child link="$(arg namespace)/barracuda_link"/>
    </joint>

    <xacro:include filename="$(find barracuda_description)/urdf/sensors.xacro"/>
    <xacro:imu_sensor parent_link="$(arg namespace)/barracuda_link" imu_name="imu" namespace="$(arg namespace)"/>
    <xacro:dvl parent_link="$(arg namespace)/barracuda_link" dvl_name="dvl" namespace="$(arg namespace)"/>
    <!-- <xacro:depth_camera parent_link="$(arg namespace)/barracuda_link" namespace="$(arg namespace)"/> -->


    <gazebo>
        <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
            <!-- Hydro parameters for the vehicle-->
            <fluid_density>1028.0</fluid_density>
            <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
            <debug>$(arg debug)</debug>

            <link name="$(arg namespace)/base_link">
            <neutrally_buoyant>1</neutrally_buoyant>
            <!-- See eNovus technical specifications -->
            <volume>1.8382</volume> <!-- This is a guess (similar size to Smilodon but heavier) -->
            <box>
                <width>1.6</width>
                <length>2.7</length>
                <height>1.8</height>
            </box>
            <!-- Center of buoyancy is a guess, using same value as RexRov -->
            <center_of_buoyancy>0.0 0.0 0.3</center_of_buoyancy>
            <hydrodynamic_model>
                <type>fossen</type>
                <!-- Everything else in the model is pulled straight from Berg2012
                    (which means it's not even close for this vehicle) -->
                <!-- Added mass: see p.28 in Berg2012 -->
                <added_mass>
                779.79 -6.8773 -103.32  8.5426 -165.54 -7.8033
                -6.8773    1222   51.29  409.44 -5.8488  62.726
                -103.32   51.29  3659.9  6.1112 -386.42  10.774
                8.5426  409.44  6.1112   534.9 -10.027  21.019
                -165.54 -5.8488 -386.42 -10.027  842.69 -1.1162
                -7.8033  62.726  10.775  21.019 -1.1162  224.32
                </added_mass>
                <!-- Linear damping: see p.31 in Berg2012 -->
                <linear_damping>
                -74.82 -69.48 -728.4 -268.8 -309.77 -105
                </linear_damping>
                <!-- Non-linear damping: see p.30 in Berg2012 -->
                <quadratic_damping>
                -748.22 -992.53 -1821.01 -672 -774.44 -523.27
                </quadratic_damping>
            </hydrodynamic_model>
            </link>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>$(arg namespace)</robotNamespace>
            <robotParam>/robot_description</robotParam>
        </plugin>
    </gazebo>

    <!-- Default joint state publisher -->
    <gazebo>
        <plugin name="uuv_joint_state_publisher" filename="libuuv_joint_state_publisher.so">
            <robotNamespace>$(arg namespace)</robotNamespace>
            <updateRate>50</updateRate>
        </plugin>
    </gazebo>
</robot>
